<section>
    <div _ngcontent-c4="" class="" style="margin-top: 5%; width: 98%;">
        <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-md-4">
                <div _ngcontent-c4="" *ngIf = "project.name"  style='font-size: 400%; margin-top: 20%; margin-left: 50%;' data-aos='fade-right'>
                    {{project.name}}</div>
    
            </div>
            <div class="card " style="width: 50rem; background-color: white; box-shadow: none;margin-top: 5%; font-size: 120%; text-align: left; margin-left: 5%;" >
                <div class="card-body" >
                        <p class = 'card-text card-long' data-aos='fade-left'>
                            {{project.description}}
                        </p>
                </div>
            </div>
        </div>
    </div>


      <p style="margin-left: 10%;">
        <iframe width="1280" height="640" [src]="getVideoIframe(project.video)" 
        frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
        </p>
        

      <div _ngcontent-c4="" style="margin-top: 5%;" data-aos='fade-up'>

      <div class = 'collapse-text'>
        <div>
        <p>{{project.firstP}}</p> 
         <p>{{project.secondP}}</p> 
        </div>
     
        <div class="accordion-item">
         
         <div id="collapseText" class="accordion-collapse collapse" aria-labelledby="headingText" data-bs-parent="#accordionExample" data-aos='fade-up'>
           <div class="accordion-body">
             <p>{{project.thirdP}}</p> 
               <p>{{project.fourthP}}</p> 
           </div>
         </div>
         <h2 class="accordion-header" id="headingText">
           <a role="button"  class = 'collapse-button' data-toggle="collapse" data-parent="#accordion" href="#collapseText" aria-expanded="true" aria-controls="CollapseText">
             read more
           </a>
         </h2>
       </div>
     </div>
    </div>


        <div _ngcontent-c4=""  style='font-size: 400%;  margin-left: 15%; margin-bottom: 4%;'data-aos='fade-right'>

            <strong>Frequentyl Asked Question</strong></div>
          
           <div class="card card" style=" width: 75rem; background-color: white; box-shadow: 0cm; margin-left: 7%; " >
           <div class="card-body" > 
          
            <div _ngcontent-c4=""  style="margin-top: 2%;">
             <div _ngcontent-c4="" >   
                 <div _ngcontent-c4="" >
          
            <div class="container">
             <div >
               <div  id="main">
                 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                   <div class="panel panel-default panel-faq">
                     <div class="panel-heading" role="tab" id="headingFaqOne">
                       <h6 class="panel-title" >
                         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFaqOne" aria-expanded="true" aria-controls="collapsFaqeOne">
                          WHAT IS INCLUDED IN OUR 3D FLOOR PLAN DELIVERABLE?
                       </a>
                       </h6>
                     </div>
                     <div id="collapseFaqOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFaqOne">
                       <div class="panel-body">
                         <p>
                          A 3D Floor Plan includes additional illustrations such as furniture and colours, as well as other features such as interior walls, windows, electrical appliances and sinks and 3 rounds of revisions.
                         </p>
                       </div>
                     </div>
                   </div>
                   <div class="panel panel-default panel-faq">
                    <div class="panel-heading" role="tab" id="headingFaqTwo">
                      <h6 class="panel-title" >
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFaqTwo" aria-expanded="true" aria-controls="collapsFaqeTwo">
                          HOW IS THIS DIFFERENT FROM A 2D FLOOR PLAN?
                      </a>
                      </h6>
                    </div>
                    <div id="collapseFaqTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFaqTwo">
                      <div class="panel-body">
                        <p>
                          A 3D Floor Plan is much more realistic compared to 2D plans. Additionally, they also serve different purposes; 3D plans help understand the space and are more exact, whereas 2D plans are generally used to see the size of the property.               </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default panel-faq">
                    <div class="panel-heading" role="tab" id="headingFaqThree">
                      <h6 class="panel-title" >
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFaqThree" aria-expanded="true" aria-controls="collapseFaqThree">
                          WHAT IS THE ADVANTAGE OF HAVING A 3D FLOOR PLAN?
                      </a>
                      </h6>
                    </div>
                    <div id="collapseFaqThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFaqThree">
                      <div class="panel-body">
                        <p>
                          Having a 3D Floor Plan, as mentioned earlier, is more exact than a 2D plan. They are also easier to interpret and give a better visualisation of the space available and feel of the property.               </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default panel-faq">
                    <div class="panel-heading" role="tab" id="headingFaqFour">
                      <h6 class="panel-title" >
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFaqFour" aria-expanded="true" aria-controls="collapsFaqeFour">
                          WHAT DO I NEED TO PROVIDE?
                      </a>
                      </h6>
                    </div>
                    <div id="collapseFaqFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFaqFour">
                      <div class="panel-body">
                        <p>
                          For us to get started, we will need your 2D floor plan (either CAD or PDF file) and any specifications of finishings or textures you would like included. Our team will work with you to ensure we have everything we need.                 </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default panel-faq">
                    <div class="panel-heading" role="tab" id="headingFaqFive">
                      <h6 class="panel-title" >
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFaqFive" aria-expanded="true" aria-controls="collapsFaqFive">
                          HOW MUCH DO OUR 3D FLOOR PLANS COST?
                      </a>
                      </h6>
                    </div>
                    <div id="collapseFaqFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFaqFive">
                      <div class="panel-body">
                        <p>
                          Our prices vary based on the size and requirements of your plan due to their custom nature. If you are interested in receiving a quote, please contact us.              </p>
                      </div>
                    </div>
                  </div>
                 </div>
               </div>
             </div>
           </div>
          
          </div>
          </div>
          </div>
          </div>
          </div>
          
          </section>
