
<section class="section">
    <div class="container">

        <div class="shadow-box" style="margin-bottom: 15%;">
                <p>
                New <br>
                <strong id='us'>Mini Project</strong>
               </p>
        </div>


        <div class = 'message success' *ngIf = "status == 'success'">
          <span class = 'success'>El proyecto se ha creado correctamente, puedes verlo <a [routerLink]="['/projects/projects']">aqui</a></span>
      </div>
      
      <div class = 'message' *ngIf = "status == 'failed'">
         <span class = 'failed'> El proyecto no se ha podido crear</span>
         </div>
         
<form #projectForm (ngSubmit)="onSubmit(projectForm)" class = 'formclass'>

    <div class="field">
      <input type="text" name="name" id="fname" placeholder="Name" [(ngModel)]="miniProject.name" required>
    </div>

    <div class="field">
        <input type="text" name="category" id="lname" placeholder="Category" [(ngModel)]="miniProject.category" required>
      </div>

      <select class="form-select" name ='view'  aria-label="Default select example" [(ngModel)]="miniProject.view">
        <option value=1>First view</option>
        <option value=2>Second view</option>
      </select>
    
    <div class="field">
      <textarea class="textarea" name="message" placeholder="Tell us about your interest" [(ngModel)]="miniProject.description" required></textarea>
    </div>

    <button type="submit"  class="btn btn-default">Submit</button>

    
  </form>

  
    </div>
    </section>