<section>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" data-aos='flip-left' >Company Name</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round btn-animate">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round btn-animate">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round btn-animate">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">About us</h2>
                    <h5 class="description">Started in 2013, we are a team of property passionate people who invested in properties ourselves and created the 3D renderings in house. The team quickly realised the gap between the CGI supply and what the market really needs – high quality renderings at affordable prices.

                        With our own property management and development experience, we understand the needs of our clients and the amount of work they are dealing with. So therefore by us supporting them, they can focus on what is really their core business.</h5>
                </div>
            </div>
            <div class="separator separator-primary separator-animate " data-aos='fade-left'></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6"data-aos='fade-down-right'>
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')" >
                            <!-- First image on the left side -->
                        </div>
                        <!-- Second image on the left side of the article -->
                    </div>
                    <div class="col-md-5"data-aos='fade-up-left'>
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                    </div>
                        <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">OUR MISSION</h2>
                            <h5 class="description">Started in 2013, we are a team of property passionate people who invested in properties ourselves and created the 3D renderings in house. The team quickly realised the gap between the CGI supply and what the market really needs – high quality renderings at affordable prices.
                                With our own property management and development experience, we understand the needs of our clients and the amount of work they are dealing with. So therefore by us supporting them, they can focus on what is really their core business.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class ='col-lg-6 text-center col-md-8 ml-auto mr-auto'>
    <div class="send-button">
        
        <a href="contact" class="btn btn-primary btn-round btn-block btn-lg btn-animate" target="_blank">Contact Us</a>
    </div>
</div>

    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary">Designer</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
