<section class="section" >
    <div class="container" >
        <div class="shadow-box">
            <p>
                Our <br>
                <strong id='us'>Prices</strong>
            </p>
        </div>


        <div style='margin-top: 5%;'>
            <main class = 'container container-fix'>
                <div class ='row'>
                    <div class = 'card-columns'>

            <ul>
                <li @fade *ngFor="let project of projects" class="project project-price-fix">

                    <div class="card " style="width: 19rem; background-color: #dddddd;">
                        <div class="card-body">
                            <p class="card-text" style='font-size: 150%;'><strong>{{project.name}}</strong></p>
                            <strong>
                                <p>from</p>
                            </strong>
                            <div class="card-footer text-muted " style='background-color: #dddddd; color: white;'>
                                <p style='color: #434343;'> {{project.price}}</p>
                                <p style='color: #434343;'> per image</p>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        </div>
    </main>



            <div class='text' style="margin-left: 10%; margin-top: 3%;">
                <span> OUR PRICES <strong> INCLUDE</strong></span>
            </div>

            <main class = 'container container-fix'>
                <div class ='row'>
                    <div class = 'card-columns'>
            <ul>
                <li  class="project project-price-fix" data-aos='fade-down'>
                    <div class="card" style="width: 19rem; background-color: white;" > 
                        <div class="card-body">
                            <p class="card-text" style='font-size: 150%;'><strong>Style</strong></p>
                            <div class="card-footer text-muted " style='background-color: white; color: white;'>
                                <p style='color: #434343;'>Time of the day. Choose between day or night lightings</p>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="project project-price-fix" data-aos='fade-up'>
                    <div class="card" style="width: 19rem; background-color: white;">
                        <div class="card-body">
                            <p class="card-text" style='font-size: 150%;'><strong>Day/Night</strong></p>
                            <div class="card-footer text-muted " style='background-color: white; color: white;'>
                                <p style='color: #434343;'>Style of your choice, from traditional to contemporary</p>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="project project-price-fix" data-aos='fade-down'>
                    <div class="card" style="width: 19rem; background-color: white;">
                        <div class="card-body">
                            <p class="card-text" style='font-size: 150%;'><strong>Furniture</strong></p>
                            <div class="card-footer text-muted " style='background-color: white; color: white;'>
                                <p style='color: #434343;'>We have a wide range of furniture to match the style of your
                                    choice</p>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="project project-price-fix">
                    <div class="card" style="width: 19rem; background-color: white;" data-aos='fade-up'>
                        <div class="card-body">
                            <p class="card-text" style='font-size: 150%;'><strong>Decoration</strong></p>
                            <div class="card-footer text-muted " style='background-color: white; color: white;'>
                                <p style='color: #434343;'>Decorations for the walls, tables, lamps etc are all included
                                </p>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="project project-price-fix" data-aos='fade-down'>
                    <div class="card" style="width: 19rem; background-color: white;">
                        <div class="card-body">
                            <p class="card-text" style='font-size: 150%;'><strong>Angle</strong></p>
                            <div class="card-footer text-muted " style='background-color: white; color: white;'>
                                <p style='color: #434343;'>Any angle of your request</p>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="project project-price-fix">
                    <div class="card" style="width: 19rem; background-color: white;" data-aos='fade-up'>
                        <div class="card-body">
                            <p class="card-text" style='font-size: 150%;'><strong>Landscape</strong></p>
                            <div class="card-footer text-muted " style='background-color: white; color: white;'>
                                <p style='color: #434343;'>Greeneries, terrains and slopes are all included</p>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        </div>
        </main> 
        </div>
        
        <div class = 'card' style = 'box-shadow: none; margin-left: 4%;'> 
            <div class = 'card-body'>
                <div _ngcontent-c4="" class="container">
                    <div _ngcontent-c4="" class="row">
                        <div _ngcontent-c4="" class="col-md-6" data-aos='fade-right'>
                           
                            <span _ngcontent-c4="" style='font-size: 200%;padding-left: 15%;'>
                               <strong> Rendering Made Easy</strong></span>
                            
                               <div class="card" style="width: 15rem; background-color: white; margin-right: 2%; box-shadow: none;" >
                                <div class="card-body">
                                    <img _ngcontent-gam-c118="" src="assets/img/phone.png" alt="Image" class="img-fluid img-logo">
                                    <p class="card-text card-short"><strong>contact us</strong></p>
                                    
                                        <p class = 'card-text card-long'>Contact us now with you drawings and requirements. We will send you our lowest quotation within 12hours. Send us the CAD files and</p>
                                </div>
                            </div>
                            <div class="card" style="width: 15rem; background-color: white; margin-right: 2%; box-shadow: none;" >
                                <div class="card-body">
                                    <img _ngcontent-gam-c118="" src="assets/img/filetext.png" alt="Image" class="img-fluid img-logo">
                                    <p class="card-text card-short"><strong>First Draft</strong></p>
                                    
                                        <p class = 'card-text card-long'>Send us the CAD files and material list with reference images. The first draft in low resolution will be ready within 7 working days.
                                        </p>
                                </div>
                                
                            </div>
                            <div class="card" style="width: 15rem; background-color: white; margin-right: 2%; box-shadow: none;" >
                                <div class="card-body">
                                    <img _ngcontent-gam-c118="" src="assets/img/amendments.png" alt="Image" class="img-fluid img-logo">
                                    <p class="card-text card-short"><strong>Amendments</strong></p>
                                    
                                        <p class = 'card-text card-long'>Send us the CAD files and material list with reference images. The first draft in low resolution will be ready within 7 working days.
                                        </p>
                                </div>
                            </div>
                            <div class="card" style="width: 15rem; background-color: white; margin-right: 2%; box-shadow: none;" >
                                <div class="card-body">
                                   
                                    <img _ngcontent-gam-c118="" src="assets/img/final.png" alt="Image" class="img-fluid img-logo">
                                    <p class="card-text card-short"><strong>Final Image</strong></p>
                                        <p class = 'card-text card-long'>Send us the CAD files and material list with reference images. The first draft in low resolution will be ready within 7 working days.
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-c4="" class="col-md-6" data-aos='fade-left'>
                            <img _ngcontent-gam-c118="" src="assets/img/bg1.jpg" alt="Image" class="img-fluid" style="margin-top: 2.5%;">
                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

